{% extends 'base.html.twig' %}

{% block body %}
    <nav>
        <ul class="main-menu">
            <li><a href="{{ path("homepage") }}">Seznam článků (Domovská stránka)</a></li>
            <li><a href="{{ path("contact") }}">Kontakt</a></li>
        </ul>
        <ul class="tiny-navigation">
            <li><a href="{{ path("homepage") }}">Seznam článků (Domovská stránka)</a></li>
            <li>{{ article.title }}</li>
        </ul>
    </nav>
    <h1>{{ article.title }}</h1>
    <img src="{{ asset(article.photo) }}" alt="{{ article.title }} photo" class="article-image">
    <p class="perex">{{ article.perex }}</p>
    <div class="article-text">{{ article.text|raw }}</div>
{% endblock %}

